doctype html
html(lang='en')
  head
    title Data Details
  body
    h1= heading
    p Yay these are the details of the data item
    p Author is #{author.name}
    p Their twitter is #{author.twitter}
    p The title is #{title}