doctype html
html(lang='en')
  head
    title Example Parent Page
  body
    h1= heading
    p This is a cute baby sloth
    img(src="img/sleeping-baby-sloth.jpg")
    for d in data
        h4
            a(href="/detail/#{d.id}")= d.title